.error-messages {
    margin-top: 10px;
    background-color: #e64475;
    border: 1px solid #e64475;
    color: yellow;
}
.posts {
    margin-top: 10px;
    padding: 10px;
}

.post-meta {
    display: flex;
    justify-content: end;
}
.post-meta span {
    padding: 4px;
}

.post-item{
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
}

.post-body {
    margin-top: 10px;
}

.tags {
    margin-top:10px;
    display: flex;
}

.tag {
    background-color: #ffff0f;
    padding: 2px 8px;
    margin:5px;
    font-weight: 200;
}

.favorited, .not-favorited {
    cursor: pointer;
}

.not-favorited {
    color: transparent;
    text-shadow: 0 0 0 gray;
}

.favorited {
    color: red;
    /*text-shadow: 0 0 0 red;*/
}

.comments {
    padding: 10px;
    .comment {
        margin: 10px;
        padding: 10px;
        border: 1px solid #ddd;
    }
}